<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="messageWindow" class="a3.monitor.MessageWindow">
        <constructor-arg index="0" value="Sprinkler Controller" />
        <constructor-arg index="1" value="0.4" />
        <constructor-arg index="2" value="0.6" />
    </bean>

    <bean id="sprinklerIndicator" class="a3.monitor.Indicator" depends-on="messageWindow">
        <constructor-arg index="0" value="Sprinkler OFF" />
        <constructor-arg index="1" value="#{messageWindow.GetX()}" />
        <constructor-arg index="2" value="#{messageWindow.GetY() + messageWindow.Height()}" />
        <constructor-arg index="3" value="0" />
    </bean>

    <bean id="sprinklerControlResponder" class="a3.sprinkler.SprinklerControlResponder">
        <property name="waterLevel" value="5" />
    </bean>

    <bean id="quitMonitorMessageHandler" class="a3.monitor.QuitMonitorMessageHandler">
        <property name="indicators">
            <list>
                <ref bean="sprinklerIndicator" />
            </list>
        </property>
    </bean>

    <bean id="messageManager" class="a3.assist.MessageManagerInterfaceFactoryBean">
        <constructor-arg index="0" value="#{systemProperties['ip'] ?: 'localhost'}" />
    </bean>

</beans>